body{
    display:flex;
    background-color:black;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.container__title{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
    font-size:2rem;
    font-family:arcade;
   
}

.container__chrono{
       color:white;
       display:flex;
       height: 250px;
       border-radius:50%;
       border:3px solid white;
       margin-left:auto;
       margin-right:auto;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 250px;
}

.buttons{
    margin-top:400px;
    color:white;
    background-color: transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
   

}


.container__hour{
    display:flex;
    flex-direction: row;
    margin-right:auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    font-size:100px;
    font-family: "Calculator";
    position: relative;
   
}
.hoursProv{
    font-size:80px;
    color:transparent;

}

.minutesProv{
    color:transparent;
    
}
.minutesDef{
    font-size:90px;
    color:white;
    
}
.hoursDef{
    font-size:80px;
    color:white;
    
}

.second{
    display:flex;
    flex-direction: row;
    margin-right:auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    font-size:100px;
    font-family: "Calculator";
}
.centisecond{
    font-size: 60px;
    align-items: flex-end;
    padding-top:30px;
   
}
.centisecond-minutes{
    font-size: 60px;
    align-items: flex-end;
    padding-top:20px;
   
}
.centisecond-hours{
    font-size: 50px;
    align-items: flex-end;
    padding-top:20px;
   
}

.play,
.stop,
.reset{
    background-color: transparent;
    border:none;
    color:white;
    cursor:pointer;
}

.play{
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-left:30px;
} 
.stop{
   border:5px solid white;
   border-top: 0.1px;
   border-bottom: 0.1px;;
   border-top-color: transparent;
   border-bottom-color: transparent;
    background-color: transparent;
    height: 30px;
    width: 0.3px;
    margin: 50px;
    margin-left:30px;
} 
 
/* @media (max-width:650px){

    .container__date{
        width: 80%;

    }
    .container__hour{
        width: 80%;

    } 



} 

